<!DOCTYPE html>
<html lang="en" ng-app="popAngularTutorial">
<head>
		<title>Controllers</title>
	<link href="./../../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body>

<H1>CONTROLLER -> 1 </H1>
<div class="container main-content" ng-controller="IntroToScopeCtrl">
	
	<div>
		<form>
			<PRE>FORM VAR 1</PRE>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
				       class="form-control"
				       ng-model="formData.name"
				       id="name">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email"
				       class="form-control"
				       ng-model="formData.email"
				       id="email">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" ng-click="register()">Register
				</button>
			</div>
		</form>
		<pre>
		  	{{ formData2 | json }}
		</pre>
	</div>
<H1>CONTROLLER -> 2 </H1>
	<div class="container main-content" ng-controller="IntroToScopeCtrl2">
		
		<form>
			<PRE>FORM VAR 1</PRE>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
				       class="form-control"
				       ng-model="formData.name"
				       id="name">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email"
				       class="form-control"
				       ng-model="formData.email"
				       id="email">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" ng-click="register()">Register
				</button>
			</div>
		</form>
		<pre>
		  	{{ formData2 | json }}
		</pre>
	

		<form>
			<PRE>FORM VAR 2</PRE>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
				       class="form-control"
				       ng-model="formData2.name"
				       id="name">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email"
				       class="form-control"
				       ng-model="formData2.email"
				       id="email">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" ng-click="register2()">Register
				</button>
			</div>
		</form>
		<pre>
		  	{{ formData2 | json }}
		</pre>
	</div>
	<H1> END OF CONTROLLER -> 2 </H1>
	<div>
		<form>
			<PRE>FORM VAR 2</PRE>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
				       class="form-control"
				       ng-model="formData2.name"
				       id="name">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email"
				       class="form-control"
				       ng-model="formData2.email"
				       id="email">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" ng-click="register2()">Register
				</button>
			</div>
		</form>
		<pre>
		  	{{ formData2 | json }}
		</pre>
	</div>

	<div>
		<form>
			<PRE>FORM VAR OTHER</PRE>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
				       class="form-control"
				       ng-model="formDataOther.name"
				       id="name">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email"
				       class="form-control"
				       ng-model="formDataOther.email"
				       id="email">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" ng-click="registerOther()">Register
				</button>
			</div>
		</form>
		<pre>
		  	{{ formDataOther | json }}
		</pre>
	</div>	
</div>
<H1> END OF CONTROLLER -> 1 </H1>
<div>
	<form>
		<PRE>FORM VAR 3</PRE>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text"
				       class="form-control"
				       ng-model="formData3.name"
				       id="name">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email"
				       class="form-control"
				       ng-model="formData3.email"
				       id="email">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" ng-click="register3()">Register
			</button>
		</div>
	</form>
	<pre>
	  	{{ formData3 | json }}
	</pre>
</div>
<H1>CONTROLLER -> 3 </H1>
<div class="container main-content" ng-controller="IntroToScopeCtrl3">

	<form>
		<PRE>FORM VAR 3</PRE>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text"
			       class="form-control"
			       ng-model="formData3.name"
			       id="name">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email"
				       class="form-control"
				       ng-model="formData3.email"
				       id="email">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" ng-click="register3()">Register
			</button>
		</div>
	</form>
	<pre>
	  	{{ formData3 | json }}
	</pre>
</div>
<H3>END OF CONTROLLER -> 3 </H3>

<div>
	<form>
		<PRE>FORM VAR 3</PRE>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text"
			       class="form-control"
			       ng-model="formData3.name"
			       id="name">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email"
				       class="form-control"
				       ng-model="formData3.email"
				       id="email">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" ng-click="register3()">Register
			</button>
		</div>
	</form>
	<pre>
	  	{{ formData3 | json }}
	</pre>
</div>
<script src="../../libs/angular/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>
